@import "tailwindcss";
@import "@heroui/styles";



html {
  font-size: 125% !important;
}


:root, [data-theme="light"] {
  --accent: 100 116 139;
  --accent-foreground: 255 255 255;
  --ring-offset-width: 0px;
}


.dark, [data-theme="dark"] {
  --accent: 148 163 184;
  --accent-foreground: 15 23 42;
  --ring-offset-width: 0px;
}


@theme inline {
  --color-accent: rgb(var(--accent));
  --color-accent-foreground: rgb(var(--accent-foreground));
  --color-focus: rgb(var(--accent));
}